.search-field{
    margin: 40px auto;
    width: 60%;
    text-align: center;
    
}
.search-btn{
    color: white;
    background-color: tomato;
    
}
#display-result{
    display: none ;
    width: 450px;
  }
